
  <ion-view title="Add Listing">
    <ion-content scroll="true" has-header="true">
    <form name="addListing" novalidate ng-submit="continue()">
        <div class="list list-inset">
	  <div class="item item-input item-select">
	    <div class="input-label">
	      City
	    </div>
    	<select name="city" ng-model="listing.city">
	  		<option>Bengaluru</option>
	  		<option>Chennai</option>
	  		<option>Gurgaon</option>
	  		<option>Indore</option>	
	  		<option>Kolkata</option>
    		<option>Mumbai</option>
	      	<option>New Delhi</option>
	      	<option>Noida</option>
	      	<option>Pune</option>
      	</select>
	  </div>
	   <label class="item item-input">
	    <span class="input-label">Pincode</span>
	    <input type="number" name="pincode" required ng-model="listing.pincode">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Address</span>
	    <textarea rows="3" name="address" required ng-model="listing.address"></textarea>
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Amount/day</span>
	    <input type="text" name="amount" required ng-model="listing.amount">
	  </label>
	  <div class="item item-toggle">
	  	Covered Space
	     <label class="toggle toggle-positive">
	       <input type="checkbox" name="isCovered" ng-model="listing.isCovered">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </div>
	  <div class="item item-toggle">
	  	Available by day
	     <label class="toggle toggle-positive">
	       <input type="checkbox" name="isAvailableDay" ng-model="listing.isAvailableDay">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </div>
	  <div class="item item-toggle">
	  	Available by night
	     <label class="toggle toggle-positive">
	       <input type="checkbox" name="isAvailableNight" ng-model="listing.isAvialableNight">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </div>
	  	<button type="submit" class="button button-block button-positive icon-right ion-chevron-right" >
	  Continue
	</button>

  </div>
</div>
</form>
</ion-content>
</ion-view>
   
