<ion-tabs class="tabs-icon-top">


  <!-- Explore Tab -->
  <ion-tab title="Explore" icon="icon ion-map" href="#/tab/explore">
    <ion-nav-view name="tab-explore"></ion-nav-view>
  </ion-tab>


  <!-- Add Listing Tab -->
  <ion-tab title="Add Listing" icon="icon ion-plus" href="#/tab/add-listing">
    <ion-nav-view name="tab-add-listing"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Account" icon="icon ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
